{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}

{% block form %}
  {% render_errors form %}
  <div class="field-group my-5">
    <div class="row">
      <h2 class="col-9 offset-3">Access List Details</h2>
    </div>
    {% render_field form.access_list %}
    {% render_field form.direction %}
    {% render_field form.tags %}
  </div>
  <div class="field-group my-5">
    <div class="row">
      <h2 class="col-9 offset-3">Interface Assignment</h2>
    </div>
    <div class="row">
      <div class="col-9 offset-3">
        <ul class="nav nav-pills mb-1" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              role="tab"
              type="button"
              id="device_tab"
              data-bs-toggle="tab"
              class="nav-link {% if not form.initial.virtual_chassis and not form.initial.virtual_machine %}active{% endif %}"
              data-bs-target="#device"
              aria-controls="device"
            >
              Device
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              role="tab"
              type="button"
              id="vm_tab"
              data-bs-toggle="tab"
              class="nav-link {% if form.initial.virtual_machine %}active{% endif %}"
              data-bs-target="#virtualmachine"
              aria-controls="virtualmachine"
            >
              Virtual Machine
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content p-0 border-0">
      <div class="tab-pane{% if not form.initial.virtual_chassis and not form.initial.virtualmachine %} active{% endif %}" id="device">
        {% render_field form.device %}
        {% render_field form.interface %}
      </div>
      <div class="tab-pane{% if form.initial.virtual_machine %} active{% endif %}" id="virtualmachine">
        {% render_field form.virtual_machine %}
        {% render_field form.vminterface %}
      </div>
    </div>
  </div>
  <div class="field-group my-5">
    <div class="row">
      <h2 class="col-9 offset-3">Comments</h2>
    </div>
    {% render_field form.comments %}
  </div>
  {% if form.custom_fields %}
    <div class="field-group my-5">
      <div class="row">
        <h2 class="col-9 offset-3">Custom Fields</h2>
      </div>
      {% render_custom_fields form %}
    </div>
  {% endif %}
{% endblock %}
